version: '3.8'
volumes:
  jackett_config: {}
  redis_data: {}

services:
  annatar:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - jackett
    volumes:
      - "redis_data:/app/data"
    environment:
      LOG_LEVEL: debug
      JACKETT_URL: "http://157.97.88.29:9117"
      JACKETT_API_KEY: "xhsfzj61y4r5m6k78jmumk0veumwnqg1"
      JACKETT_MAX_RESULTS: "10"
      JACKETT_TIMEOUT: "5"
      JACKETT_INDEXERS: "1337x,bitsearch,btarg,eztv,knaben,lat-team-api,moviesdvdr,solidtorrents,therarbg,torlock,torrentdownloads,torrent9,torrentfunk,torrentz2nz,unionfansub,yts"
      LISTEN_PORT: "8000"

  jackett:
    image: docker.io/linuxserver/jackett
    ports:
      - 9117:9117
    volumes:
      - jackett_config:/config
